.input {
  width: 100%;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-color: var(--mantine-color-dark-3);

  &:focus {
    outline: none;
    border-color: var(--mantine-color-blue-3);
  }
}

.title {
  margin-top: 1rem;
  width: 100%;
  font-size: 2rem;
  border-width: 0 0 2px 0;
  border-style: solid;
  border-radius: 0;
  padding-left: 0;
  padding-right: 0;
  background-color: transparent;
  border-color: var(--mantine-color-dark-3);

  &:focus {
    outline: none;
    border-color: var(--mantine-color-blue-3);
  }
}
